h1{
    font-size: 3em;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-style: italic;

    /* shorthand font
    condensa todas essas configurações, e ela tem uma ordem: 
    - font-style, font weight, font-size, font-family
    */

    font: italic bolder 3em Georgia, serif;
}

h2{
    font: bolder 2em Georgia, serif;
    /* caso não queira alguma propriedade, é só pular */
}