div{
    width: 600px;
    height: 150px;
    background-color: rgb(64, 139, 164);
    border-radius: 20px 0px;
}

#bola{
    /* para virar uma bola, a div precisa ser um quadrado */
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin-top: 30px;
    border-radius: 50%;
}